.custom-navigation {

    background: #fff !important;

    .logo {
        width: 240px;
    }

    .btn-dark-blue {
        background: #662D91;
        color: #fff;
        border-color: #662D91;
    }
}